.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
volumes/
gradle.properties
/sberfood-provider/src/main/resources/restaurants.json
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
